<div class='event'>
	<h2>{{ formatDate event.start "dddd D. MMMM YYYY" }} - {{ event.title }}</h2>
  	{{#each columns}}
  		<column>
			{{#each this}}
			<div class="shift {{ cssClass }} {{ shift.durationType }}" id="shift_{{ shift.id }}">
				<div class='title'>
					{{ shift.shift_type.title }}
					{{#if hasTwins }}
						({{twinsCount}})
					{{/if}}
				</div>
				<div class='time'>{{ formatDate shift.start "HH:mm" }}-{{ formatDate shift.stop "HH:mm" }}</div>

                <div class="take_shift_wrap"></div>
			</div>

			{{/each}}
		</column>
  	{{/each}}
  	<column>
		<div class='comments'>
			<div class='title'>Kommentarer</div>
			{{ event.description }}
		</div>
	</column>		
</div>