<div class='event'>
	<h2>{{ formatDate event.start "dddd D. MMMM YYYY" }} - {{ event.title }}</h2>
  	{{#each columns}}
  		<column>
			{{#each this}}
			<div class="shift {{ shift.cssClass }} {{ shift.durationType }}" id="shift_{{ shift.id }}">
				<div class='title'>
					{{ shift.shift_type.title }}
					{{#if hasTwins }}
						({{twinsCount}})
					{{/if}}
				</div>
				<div class='time'>{{ formatDate shift.start "HH:mm" }}-{{ formatDate shift.stop "HH:mm" }}</div>

                <div class='reveal-modal take_shift medium'>
                    <h2>Ta skift: {{shift.type}}</h2>
                    <hr/>
                    <span class='date'>{{ formatDate ../../event.start "dddd D. MMMM YYYY" }}</span>
                    <span class='time'>{{ formatDate shift.start "HH:mm" }}-{{ formatDate shift.stop "HH:mm" }}</span>

                    <table>
                        {{#each twins}}
                        <tr>
                            <td class='{{ ../shift.cssClass }} shift_header'>{{ twinNum }}</td>
                            <td>
                                Navn<br>
                                {{#if volunteer }}
                                <input type="text" name="name" class="name user_search" value="{{ volunteer.username }}">
                                {{else}}
                                <input type="text" name="name" class="name user_search" value="">
                                {{/if}}
                            </td>
                            <td>
                                Kommentar<br>
                                <input type="text" name="comment" class="comment" size="27" value="{{ comment }}">
                            </td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td colspan='3'><a href="#" class='button small success'>Lagre endringer</a></td>
                        </tr>
                    </table>
                    
                    <a class="close-reveal-modal">&#215;</a>
                </div>        
			</div>

			{{/each}}
		</column>
  	{{/each}}
  	<column>
		<div class='comments'>
			<div class='title'>Kommentarer</div>
			{{ event.description }}
		</div>
	</column>		
</div>