<div class='event_list'>
    <h2>{{formatDate start "dddd D. MMMM YYYY"}} - {{title}}</h2>
    <h4>{{description}} - Ledige skift: {{available}}</h4>
    <table>
        {{#each shifts}}
        <tr class='shift{{#if volunteer}} taken{{/if}}' id="shift_{{id}}">
            <td class='shift {{toLowerCase shift_type.title}}'>
            </td>
            <td class='list_view'>  
                <b>{{shift_type.title}}</b>
            </td>
            <td class='list_view'>
                {{formatDate start "HH:mm" }}-{{ formatDate stop "HH:mm" }}
            </td>
            <td>
                {{duration}} timer
            </td>
            <td>
                {{#if volunteer}}
                    {{volunteer.first_name}} {{volunteer.last_name}} ({{volunteer.username}})
                {{else}}
                    Ledig
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>