{{#each events}}
    <div class='event_list'>
                <h2>{{title}}{{formatDate start "dddd D. MMMM YYYY"}}</h2>
            <h4>{{description}}</h4>
        <table>
            {{#each shifts}}
                <tr>
                    <td class='shift {{toLowerCase shift_type.title}}'>
                    </td>
                    <td class='list_view'>  
                        {{shift_type.title}}
                    </td>
                    <td class='list_view'>
                        {{formatDate event.start "dddd D."}}
                    </td>
                    <td class='list_view'>
                        {{formatDate start "hh:mm" }}-{{ formatDate stop "hh:mm" }}-{{duration}} Hours
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
{{/each}}