<div class='event'>
	<h2>{{ formatDate event.start "dddd D. MMMM YYYY" }} - {{ event.title }} - Ledige skift: {{event.available}}</h2>
  	{{#each columns}}
  		<column>
			{{#each this}}
			<div class="shift {{ cssClass }} {{ shift.durationType }}{{#unless available}} taken{{/unless}}" id="shift_{{ shift.id }}">
				<div class='title'>
					{{ shift.shift_type.title }}
					{{#if hasTwins }}
						({{twinsCount}})
					{{/if}}
				</div>
				<div class='time'>{{ formatDate shift.start "HH:mm" }}-{{ formatDate shift.stop "HH:mm" }}</div>
			</div>

			{{/each}}
		</column>
  	{{/each}}
  	<column>
		<div class='comments'>
			<div class='title'>Kommentarer</div>
			{{ event.description }}
		</div>
		{{#if responsible}}
		<div class='contact'>
			<div class='title'>Ansvarlig</div>
			Navn: {{responsible.firstname}} {{responsible.lastname}}<br>
			Epost: {{responsible.email}}<br>
			Mobil: {{responsible.phone}}
		</div>
		{{/if}}
	</column>		
</div>