<div class='panel right frontpage_box'>
<h3><i>Neste arrangement i Escape</i></h3>
<table>
{{#each upcomingEvents }}
	<tr>
	<th><div class='bar'> </div></th>
	<th><a href="/event/{{ id }}">{{ title }}</a></th>
	</tr>
	<tr>
	<td colspan='2'>{{formatDate start "dddd D. MMMM YYYY"}}</td>
	</tr>
{{/each}}
</table>
</div>

<div class='panel right frontpage_box'>
<h3><i>Ledige skift ({{ freeAll }})</i></h3>
<table>
	<tr>
		<th class='status'>Skjenkemester</th>
		<th class='status'>{{ freeSm }}</th>
		<th style="font-align:right">
			<div class='sm' style="width:{{ calculateWidth freeSm freeAll }}px">
				
			</div>
		</th>
	</tr>
	<tr>
		<th class='status'>Barfunk</th>
		<th class='status'>{{ freeBar }}</th>
		<th style="font-align:right">
			<div class='bar' style="width:{{ calculateWidth freeBar freeAll }}px">
				
			</div>
		</th>
	</tr>
	<tr>
		<th class='status'>Vakt</th>
		<th class='status'>{{ freeGuard }}</th>
		<th style="font-align:right">
			<div class='vakt' style="width:{{ calculateWidth freeGuard freeAll }}px">
				
			</div>
		</th>
	</tr>
	<tr>
		<th class='status'>DJ</th>
		<th class='status'>{{ freeDj }}</th>
		<th style="font-align:right">
			<div class='dj' style="width:{{ calculateWidth freeDj freeAll }}px">
				
			</div>
		</th>
	</tr>
</table>
</div>



<h1>Velkommen til Shifty!</h1>
<p>Shifty er under utvikling og ikke enda klart for bruk.</p>
<p>CybWebDev driver aktivt med utvikling!</p>

<!--<p>hei {-{name}-}!</p>-->
<p><a href='/events'>Arrangementoversikt &raquo;</a></p>


<img alt="Pingvin" src="/static/images/penguin.png">