<div class='row'>
<div class='large-8 columns'>
	<h1>Velkommen til Shifty!</h1>
	<p>Shifty er under utvikling og ikke enda klart for bruk.</p>
	<p>CybWebDev driver aktivt med utvikling!</p>
	
	<p><h2><a href='/events'>Arrangementoversikt &raquo;</a></h2></p>

	<img alt="Pingvin" src="/static/images/penguin.png">
</div>





<div class='large-4 columns panel frontpage_box'>
<h3><i class="fi-heart icon"></i><i>Kalender</i></h3>
<table>
{{#each upcomingEvents }}
	<tr>
	<th><div class='bar'> </div></th>
	<th><a href="/event/{{ id }}">{{ title }}</a></th>
	</tr>
	<tr>
	<td colspan='2'>{{formatDate start "dddd D. MMMM YYYY"}}</td>
	</tr>
{{/each}}
</table>
</div>
</div>

<div class='row'>
<div class='large-12 columns panel frontpage_box'>
<h3><i class="fi-info icon"></i><i>Shifty status</i></h3>
<table width='100%' class='free_shifts'>
	<tr>
		<th class='status'>Skjenkemester</th>
		<th class='status'>({{ smCount.free }} av {{smCount.all}} ledig)</th>
		<th style="font-align:right" width='70%'>
			<div class='shift_type_1' style="width:{{ calculateWidth smCount.free smCount.all }}%"> </div><div class='shadow' style="width:{{ calculateRemainingWidth smCount.free smCount.all }}%"> </div>
		</th>
	</tr>
	<tr>
		<th class='status'>Barfunk</th>
		<th class='status'>({{ barCount.free }} av {{barCount.all}} ledig)</th>
		<th style="font-align:right" width='70%'>
			<div class='shift_type_2' style="width:{{ calculateWidth barCount.free barCount.all }}%"> </div><div class='shadow' style="width:{{ calculateRemainingWidth barCount.free barCount.all }}%"> </div>
		</th>
	</tr>
	<tr>
		<th class='status'>Vakt</th>
		<th class='status'>({{ guardCount.free }} av {{guardCount.all}} ledig)</th>
		<th style="font-align:right" width='70%'>
			<div class='shift_type_3' style="width:{{ calculateWidth guardCount.free guardCount.all }}%"> </div><div class='shadow' style="width:{{ calculateRemainingWidth guardCount.free guardCount.all }}%"> </div>
		</th>
	</tr>
	<tr>
		<th class='status'>DJ</th>
		<th class='status'>({{ djCount.free }} av {{djCount.all}} ledig)</th>
		<th style="font-align:right" width='70%'>
			<div class='shift_type_4' style="width:{{ calculateWidth djCount.free djCount.all }}%"> </div><div class='shadow' style="width:{{ calculateRemainingWidth djCount.free djCount.all }}%"> </div>
		</th>
	</tr>
</table>
</div>
</div>

<div class='row'>
<div class='large-5 columns panel frontpage_box'>
<h3><i class="fi-megaphone icon"></i><i>Skift som haster!</i></h3>
</div>

<div class='large-5 columns panel frontpage_box'>
<h3><i class="fi-trophy icon"></i><i>Beste funker høst 2014</i></h3>
</div>
</div>


