<div class='event'>
	<h2>{{ event.start }} - {{ event.title }}</h2>
  	{{#each columns}}
  		<column>
			{{#each this}}
			<div class="shift {{ shift.type }} {{ durationType }}">
					<div class='title'>
						{{ shift.type }}
						{{#if twins }}
							({{twins}})
						{{/if}}
					</div>
					<div class='time'>{{ shift.start }}-{{ shift.stop }}</div>
			</div>
			{{/each}}
		</column>
  	{{/each}}
  	<column>
		<div class='comments'>
			<div class='title'>Kommentarer</div>
			{{ event.description }}
		</div>
	</column>		
</div>