{{!
input variables:
* shift
* event
* twins
* cssClass
}}
<div class='reveal-modal take_shift medium' data-reveal>
    <h2>Ta skift: {{shift.shift_type.title }}</h2>
    <hr/>
    <span class='date'>{{ formatDate event.start "dddd D. MMMM YYYY" }}</span>
    <span class='time'>{{ formatDate shift.start "HH:mm" }}-{{ formatDate shift.stop "HH:mm" }}</span>
    <span class='bong'>{{ calculateBongs shift.start shift.stop }} bonger</span>

    <div class="twins">
        {{#each twins}}
            <div class="twin" data-shift-id="{{ id }}">
                <div class="type {{ ../cssClass }}"></div>
                <div class="comment">
                    Kommentar<br>
                    <button class="take_shift_button" data-shift-id="{{ id }}">Take shift</button>
                    <input type="text" name="comment" class="comment" value="{{ comment }}">
                </div>
            </div>
        {{/each}}
    </div>

    <a class="close-reveal-modal">&#215;</a>
</div>        
